/* .too-anchor{
    position: relative;
}
.too-heading{
    position: absolute;
    top: 150px;
    background-color: white;
    height: 70px;
    width: 310px;
}

.too-image img{
    height: 220px;
    width: 310px;
    border-radius: 10px;
}

.too-anchor a{
   float: left;
    color: rgb(26, 24, 24);
    text-decoration: none;
    padding-left: 25px;
    height: 230px;
}
.too-anchor a:hover{
    transform: scale(1.1);
}

.too-anchor h1{
    font-size: 18px;
    text-align: left;
    padding-left: 15px;
    margin-top: 3px;
    margin-bottom: 0px;
    color: #363636;
    font: Helvetica, sans-serif;
}
.too-anchor p{
    font-size: 15px;
    text-align: left;
    padding-left: 17px;
    margin-top: 0px;
    color: #4F4F4F;
    font: Helvetica, sans-serif;
} */

.too-anchor{
    position: relative;
    width: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 33.3333%;
    padding: 0px 13.3333px 20px 0px;
}
.too-anchor a{
    text-decoration: none;
    text-align: left;
}
.too-anchor a img{
    border-radius: 7px;
    width: 100%;
}

.too-anchor h1{
    font-size: 18px;
    color: #363636;
    font: Helvetica, sans-serif;
}

.too-anchor p{
    font-size: 15px;
    color: #4F4F4F;
    font: Helvetica, sans-serif;
}
.too-heading{
    padding: 1rem 2rem 1.6rem;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: white;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 0px 0px 1.2rem 1.2rem;
    box-sizing: border-box;
}

.too-anchor h1,p{
    margin: 5px;
}

.too-image{
    border-radius: 1.2rem;
    overflow: hidden;
}

.too-image img{
    height: 80%;
}

.too-image-div{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    background: linear-gradient(to right, rgb(248, 248, 248) 0%, rgb(255, 255, 255) 10%, rgb(248, 248, 248) 40%, rgb(248, 248, 248) 100%) no-repeat rgb(248, 248, 248);
    opacity: 0;
    transition: opacity 0.25s ease-out;
    will-change: opacity;
    border-radius: inherit;
    animation: 1.5s linear 0s infinite normal forwards running jCOzbu;
}

.title{
    text-align: left;
    font-weight: 500;
    font-size: 2rem;
    line-height: 3.2rem;
}

.subtitle{
    color: rgb(79, 79, 79);
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.too-a{
    display: block;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    transition: transform 300ms;
}

div, p, span{
    font-size: 1.6rem;
}