html, body {
    overflow-x: hidden;
  }
.NavBar{
    display: flex;
    text-align: center;
    justify-content:space-between;
    padding: 20px;
}
.zomato{
    background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
}
.name-zomato{
    width: 20%;
}
.zomato-line{
    color: aliceblue;
    font-size: 36px;
    width: 200;
    position: relative;
}
.place{
    font-size: 20px;
}
.SearchContainer{
    width: 54%;
    height: 70px;
    position: relative;
    padding-left: 290px;
}
.SearchLocation{
    width: 100%;
    height: 45px;
    background-color: aliceblue;
    border-radius: 7px;
}
.SearchLocation div {
    float: left;
}
.Location{
    width: 28%;
    display: flex;
    text-align: center;
    height: 45px;
}
.location-total{ 
    color: #FF7E8B;
    font-size: 1px;
    padding-left: 10px;
    padding-top: 10px;
}
::placeholder {
    color: rgb(111, 108, 108);
    opacity: 1px;
    font-size: 4px;
    font-style: normal;
}
.input-field {
    padding-left: 6px;
    border:0;
    outline:0;
    background-color: transparent;
    font-size: 18px;
}
.icon-dropdown{
    color: rgb(95, 93, 93);
    font-size: 1px;
}
.Search-dish{
    width: 60%;
    height: 45px;
    padding-top: 5px;
    float: left;
}
.Search-dish div{
    border-left: rgb(218, 214, 214) solid;
    border-radius: 1px;
}
.icon-search{
    color: rgb(145, 143, 143);
    font-size: 1px;
    padding-left: 10px;
}
.input-search-food{
    padding-left: 6px;
    border:0;
    outline:0;
    background-color: transparent;
    font-size: 18px;
}
.collections-and-places{
    margin: 5%;
    padding-left:100px;
    padding-right: 90px;
}
.collection-main-outline{
    padding-left: 25px;
}
.collections{
    position: relative;
    margin-top: 50px;
    text-align: left;
    font: Helvetica, sans-serif;
    padding-bottom: 25px;
}
.collections p{
    font-size: 40px;
    color: #1C1C1C;
    margin-bottom: 0px;
}
.collections p1{
    font-size: 18px;
    color: #363636;
    padding-left: 3px;
}
.collections a{
    text-decoration: none;
    color: #e03546;
    font-size: 18px;
    padding-left: 9%;
}
.collections i{
    text-decoration: none;
    color: #e03546;
    font-size: 10px;
    padding-left: 1%;
}
.collection-img-outline img{
    height: 300px;
    width: 240px;
    float: left;
    padding: 3.5px;
    border-radius: 10px;
}
.collection-img-outline a{
    text-decoration: none;
    font: Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 5px;
}
.collection-img-outline {
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
}

.tts, .nop, .RF, .BBIT {
    position: relative;
    width: 240px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
}

.tts-header, .nop-header, .RF-header, .BBIT-header {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
}


